@font-face {
  font-family: "TT Fors Trial";
  src: url("../fonts/TT-Fors-Trial-Regular.ttf");
  src: local("TT Fors"), local("TT Fors Trial"),
  url("../fonts/TT-Fors-Trial-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "TT Fors Trial";
  src: url("../fonts/TT-Fors-Trial-Bold.ttf");
  src: local("TT Fors"), local("TT Fors Trial"),
  url("../fonts/TT-Fors-Trial-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
